<div class="relative text-center">
  <h1 class="text-4xl font-bold mb-10 text-[#cd7704]" id="about">ABOUT US</h1>
  <div class="relative z-10">
    <img
      src="/src/images/about-1.png"
      alt="Rooted Rising Team"
      class="w-[80%] h-[200px] sm:h-[300px] md:h-[400px] object-cover object-top mx-auto"
    />
  </div>
  <div class="absolute flex justify-between mx-5 sm:mx-10 md:mx-25 z-0">
    <img
      src="/src/images/leaf-1.png"
      alt="Leaf Decoration"
      class="w-[70px] md:w-[150px] opacity-50 h-full mt-[-30px] sm:mt-[-40px] md:mt-[-50px]"
    />
    <img
      src="/src/images/leaf-2.png"
      alt="Leaf Decoration"
      class="w-[100px] md:w-[200px] opacity-50 h-full mt-[150px] md:mt-[-50px] ml-[79%] md:ml-[205%]"
    />
  </div>
  <div class="relative z-10 mt-2 p-4 text-center mx-5 sm:mx-10 md:mx-[200px]">
    <p class="text-gray-800 text-lg sm:text-xl md:text-2xl font-medium">
      Rooted Rising is a dynamic media advocacy initiative, harnessing the power
      of
      <span class="text-[#cd7704] font-bold">storytelling</span>,
      <span class="text-[#cd7704] font-bold">art</span>, and
      <span class="text-[#cd7704] font-bold">grassroots activism</span>
      to ignite climate action and gender equality.
      <br />
      <span class="font-bold">We are Rooted in truth, rising for justice!</span>
    </p>
  </div>
  <div class="flex justify-center">
    <a href="/about-us" class="cursor-pointer">
      <button
        class="cursor-pointer relative inline-flex items-center justify-center px-12 py-4 mt-10 overflow-hidden font-medium text-black transition duration-300 ease-out border-2 border-bltext-black rounded-lg shadow-md group"
      >
        <span
          class="absolute inset-0 flex items-center justify-center w-full h-full text-black duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease"
        >
          <span class="flex flex-row text-[20px] items-baseline gap-5"
            >Navigate <i class="fas fa-chevron-right"></i
          ></span>
        </span>
        <span
          class="absolute flex items-center text-[20px] font-semibold justify-center w-full h-full text-black transition-all duration-300 transform group-hover:translate-x-full ease"
          >About Us</span
        >
        <span class="relative text-base font-semibold invisible">About Us</span>
      </button>
    </a>
  </div>
</div>
