<div class="bg-[#cd7704] p-10">
  <h1 class="text-center font-bold text-4xl text-black mb-5">
    How We Advocate
  </h1>
  <div class="flex flex-col gap-15 justify-center items-center mx-10">
    <div class="flex flex-row flex-wrap justify-between gap-10">
      <div class="flex flex-col gap-2 justify-center">
        <img
          src="/src/images/storytelling.png"
          class="flex-[33%] w-full object-cover"
          alt=""
        />
        <p class="text-black text-2xl font-bold text-center">Stroytelling</p>
      </div>
      <div class="flex flex-col gap-2 justify-center">
        <img
          src="/src/images/video.png"
          class="flex-[45%] w-[350px] object-cover"
          alt=""
        />
        <p class="text-black text-2xl font-bold text-center">
          Content Creation
        </p>
      </div>
      <div class="flex-[25%] flex flex-col gap-3">
        <h1 class="text-2xl">How we advocate</h1>
        <p class="text-xl text-white">
          We believe in the power of the media to make a change. At Rooted
          Rising, we leverage all forms of media communication to advocate for a
          better society.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-2 justify-center items-center">
      <img src="/src/images/art.png" class="w-[350px] object-cover" alt="" />
      <p class="text-black text-2xl font-bold text-center">Art</p>
    </div>
  </div>
</div>

<style>
  @media (max-width: 768px) {
    .flex-row {
      flex-direction: column;
      align-items: center;
    }
    .w-[350px] {
      width: 100%;
    }
  }
</style>
