<section class="max-w-7xl m-auto">
  <h1 class="md:ml-12">Artvocacy</h1>
  <div class="flex justify-center">
    <iframe
      class="w-full h-[250px] md:h-[450px]"
      src="https://www.youtube.com/embed/Bk3He1bY6Oo?si=NB2iAisL8fZDULfl"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</section>
