<section class="page">
  <div class="content">
    <div class="carousel">
      <input type="radio" id="carousel-1" name="carousel" checked autofocus />
      <input type="radio" id="carousel-2" name="carousel" />
      <input type="radio" id="carousel-3" name="carousel" />

      <!-- Slide 1 -->
      <div class="slide slide-1">
        <div class="overlay">
          <h1 class="overlay-text">Overlay Text 1</h1>
          <div class="flex justify-center mt-15">
            <a href="/about-us" class="cursor-pointer">
              <button
                class="cursor-pointer relative inline-flex items-center justify-center px-12 py-4 mt-10 overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-bltext-white rounded-lg shadow-md group"
              >
                <span
                  class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease"
                >
                  <span class="flex flex-row text-[20px] items-baseline gap-5">
                    Navigate <i class="fas fa-chevron-right"></i>
                  </span>
                </span>
                <span
                  class="absolute flex items-center text-[20px] font-semibold justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease"
                  >About Us</span
                >
                <span class="relative text-base font-semibold invisible">
                  About Us
                </span>
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="slide slide-2">
        <div class="overlay">
          <h1 class="overlay-text">Overlay Text 2</h1>
          <div class="flex justify-center mt-15">
            <a href="/about-us" class="cursor-pointer">
              <button
                class="cursor-pointer relative inline-flex items-center justify-center px-12 py-4 mt-10 overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-bltext-white rounded-lg shadow-md group"
              >
                <span
                  class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease"
                >
                  <span class="flex flex-row text-[20px] items-baseline gap-5">
                    Navigate <i class="fas fa-chevron-right"></i>
                  </span>
                </span>
                <span
                  class="absolute flex items-center text-[20px] font-semibold justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease"
                  >About Us</span
                >
                <span class="relative text-base font-semibold invisible">
                  About Us
                </span>
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Slide 3 -->
      <div class="slide slide-3">
        <div class="overlay">
          <h1 class="overlay-text">Overlay Text 3</h1>
          <div class="flex justify-center mt-15">
            <a href="/about-us" class="cursor-pointer">
              <button
                class="cursor-pointer relative inline-flex items-center justify-center px-12 py-4 mt-10 overflow-hidden font-medium text-white transition duration-300 ease-out border-2 border-bltext-white rounded-lg shadow-md group"
              >
                <span
                  class="absolute inset-0 flex items-center justify-center w-full h-full text-white duration-300 -translate-x-full bg-transparent group-hover:translate-x-0 ease"
                >
                  <span class="flex flex-row text-[20px] items-baseline gap-5">
                    Navigate <i class="fas fa-chevron-right"></i>
                  </span>
                </span>
                <span
                  class="absolute flex items-center text-[20px] font-semibold justify-center w-full h-full text-white transition-all duration-300 transform group-hover:translate-x-full ease"
                  >About Us</span
                >
                <span class="relative text-base font-semibold invisible">
                  About Us
                </span>
              </button>
            </a>
          </div>
        </div>
      </div>

      <!-- Carousel Navigation Controls -->
      <label for="carousel-3" class="control control-1 prev">
        <span>&#10554;</span>
      </label>
      <label for="carousel-2" class="control control-1 next">
        <span>&#10556;</span>
      </label>
      <label for="carousel-1" class="control control-2 prev">
        <span>&#10554;</span>
      </label>
      <label for="carousel-3" class="control control-2 next">
        <span>&#10556;</span>
      </label>
      <label for="carousel-2" class="control control-3 prev">
        <span>&#10554;</span>
      </label>
      <label for="carousel-1" class="control control-3 next">
        <span>&#10556;</span>
      </label>

      <div class="navigation">
        <label for="carousel-1" class="radio-btn radio-btn-1"></label>
        <label for="carousel-2" class="radio-btn radio-btn-2"></label>
        <label for="carousel-3" class="radio-btn radio-btn-3"></label>
      </div>
    </div>
  </div>
</section>

<style>
  .page {
    height: 100vh;
    padding: 0;
    margin: auto;
    max-width: 1280px;
  }

  .content {
    width: 100%;
    height: 95%;
  }

  .carousel {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    position: relative;
  }

  .carousel input[type="radio"] {
    position: absolute;
    display: none;
  }

  .slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    opacity: 80%;
    transition: ease-in-out 0.6s;
    position: relative;
  }

  .slide-1 {
    background: url("https://i.etsystatic.com/15857612/r/il/540084/4792907904/il_fullxfull.4792907904_h1pe.jpg");
    background-size: cover;
  }

  .slide-2 {
    background: url("https://wallpapercave.com/wp/wp7925366.jpg");
    background-size: cover;
  }

  .slide-3 {
    background: url("https://wallpapercave.com/wp/wp4511676.jpg");
    background-size: cover;
  }

  .control {
    width: 6rem;
    height: 6rem;
    display: none;
    clip-path: circle(50% at 50% 50%);
    background-color: rgba(0, 0, 0, 0.26);
    color: #fff;
    font-size: 5rem;
    text-align: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
  }

  .next {
    right: 0;
    transform: translate(-20%, -50%);
  }

  .prev {
    transform: translate(20%, -50%);
  }

  input:nth-of-type(1):checked ~ .control-1,
  input:nth-of-type(2):checked ~ .control-2,
  input:nth-of-type(3):checked ~ .control-3 {
    display: block;
  }

  input:nth-of-type(1):checked ~ .navigation .radio-btn-1,
  input:nth-of-type(2):checked ~ .navigation .radio-btn-2,
  input:nth-of-type(3):checked ~ .navigation .radio-btn-3 {
    background-color: #fff;
  }

  input:nth-of-type(1):checked ~ .slide {
    transform: translateX(0);
  }

  input:nth-of-type(2):checked ~ .slide {
    transform: translateX(-100%);
  }

  input:nth-of-type(3):checked ~ .slide {
    transform: translateX(-200%);
  }

  .navigation {
    position: absolute;
    width: 90px;
    height: 20px;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
  }

  .navigation .radio-btn {
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.26);
    display: block;
    border-radius: 50%;
    border: 0.4rem solid rgba(255, 255, 255, 0.9);
  }

  /* Overlay container covers the entire slide with a dark background */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  /* Overlay text styling */
  .overlay-text {
    font-size: 3rem;
    color: #fff;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0);
  }
</style>
