<div>
  <h1 class="">Voice Of The Frontline</h1>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-6 p-6">
    {% for video in site.data.voice-of-the-frontline.videos %}
    <div class="flex flex-col items-center">
      <iframe
        width="560"
        height="315"
        class="w-full h-64 rounded-lg"
        src="{{ video.link }}"
        title="{{ video.title }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      >
      </iframe>
      <h3 class="text-center font-semibold mt-2">{{ video.title }}</h3>
    </div>
    {% endfor %}
  </div>
</div>
