<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="bg-gray-100 text-gray-900">
    <div id="loader" class="loader"></div>
    <div class="content" style="display: none">
      {% include navbar.html %}
      <main class="">{{ content }}</main>
      {% include footer.html %}
    </div>
    <button id="backToTop" class="top" title="Back to Top">Back to Top</button>
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
    <script src="/src/js/custom.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
      integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var loader = document.getElementById("loader");
        var content = document.querySelector(".content");
        loader.style.display = "none";
        content.style.display = "block";
      });
    </script>
    <script>
      let searchIndex = [];

      async function fetchSearchIndex() {
        try {
          const response = await fetch("/search.json");
          searchIndex = await response.json();
        } catch (error) {
          console.error("Error loading search index:", error);
        }
      }

      function liveSearch() {
        let input = document.getElementById("searchInput").value.toLowerCase();
        let suggestions = document.getElementById("suggestions");
        suggestions.innerHTML = "";
        suggestions.style.display = "none";

        if (input.length === 0) {
          return;
        }

        let matches = searchIndex.filter((item) =>
          item.title.toLowerCase().includes(input)
        );

        if (matches.length > 0) {
          suggestions.style.display = "block";
          matches.slice(0, 5).forEach((match) => {
            let li = document.createElement("li");
            li.classList.add("suggestion-item");
            li.innerHTML = `
              <a href="${match.url}" class="suggestion-title">${match.title}</a>
              <div class="suggestion-date">${match.date}</div>
              <div class="suggestion-content">${match.content}...</div>
            `;
            suggestions.appendChild(li);
          });
        }
      }

      document.addEventListener("DOMContentLoaded", fetchSearchIndex);
    </script>
  </body>
</html>
