---
layout: default
---

<div class="max-w-7xl mx-auto">
  {% include hero.html %}
  <hr class="my-12" />
  {% include about.html %}
  <hr class="my-12" />
  {% include campaigns.html %}
  <hr class="mb-5 mt-12" />
  <h1 class="mx-10 font-bold">OUR PROJECTS</h1>
  <hr class="mb-12 mt-5" />
  <div class="mx-10 font-bold">{% include voice-of-the-frontline.html %}</div>
  <hr class="my-12" />
  {% include campaigns-home.html %}
  <hr class="my-12" />
  <div class="mx-10 font-bold">{% include phamplets.html %}</div>
  <hr class="my-12" />
  {% include blog-post.html %}
  <hr class="my-12" />
  {% include volunteers.html %}
</div>
