---
layout: default
---

<style>
  {% include post_style.css %}
</style>

<div class="w-full md:w-[800px]" style="margin: 0 auto">
  <div class="bacon-blog-post bacon-shadow">
    <img
      src="{{page.image}}"
      class="wp-post-image mb-5 w-full object-cover h-[300px] md:h-[500px] object-top"
    />
    <div class="ml-5">
      <h1 class="text-4xl">{{page.title}}</h1>
      <p class="text-gray-500 text-[14px]">
        <strong><i class="fas fa-calendar-plus"></i> Date Uploaded:</strong> {{
        page.date | date: "%B %d, %Y" }}
      </p>
      <p class="text-gray-500 text-[14px]">
        <strong><i class="fas fa-tags"></i> Categories:</strong> {{
        page.categories | join: ", " }}
      </p>
    </div>
    <hr class="mt-5" />

    <div class="p-6 md:p-[42px]">{{page.content}}</div>
    <hr class="my-5" />
    {% include share-buttons.html %}
  </div>
</div>

<div class="post-navigation">
  {% if page.previous %}
  <p>
    ← Previous: <a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
  </p>
  {% endif %} {% if page.next %}
  <p>Next: <a href="{{ page.next.url }}">{{ page.next.title }}</a> →</p>
  {% endif %}
</div>
